<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings>
    <appSettings>
      <add key="PaperName" value="W10H5"/>
      <add key="PortName" value="234"/>
      <add key="BaudRate" value="9600"/>
      <add key="PrintSetRecordOut" value="{&quot;MarginRight&quot;:&quot;0&quot;,&quot;MarginLeft&quot;:&quot;0&quot;,&quot;paper&quot;:&quot;&quot;,&quot;MarginBottom&quot;:&quot;0&quot;}" />
    </appSettings>
</configuration>